body {
    background-color: rgb(255, 251, 25);
  }
  
h1 {
    color: rgb(9, 219, 2);
    text-align: center;
  }

h2 {
    color: rgb(6, 22, 245);
    text-align: center;
}
  
p {
    font-family: verdana;
    font-size: 20px;
  }